.content-date{
  padding: 20px 20px 50px;
  position: relative;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
  h3{
    z-index: 10;
    position: relative;
    margin: 0px 0 20px 0;
  }
  .date-list{
    ul{
      padding: 0;
    }
  }
}
.media-object{
  line-height: 50px;
  .media-object-section{
    padding: 0 !important;
    min-height: 80px;
    display: block;
    width: 100%;
    .media-object-section--header{
      font-weight: bold;
      font-size: 14px;
      border-bottom: 1px solid black;
      overflow: hidden;
    }
  }
  p{
    color: black;
    font-size: 14px;
    padding-left: 20px;
  }
}


#dates{
  margin: 0;
    li{
      line-height: 16px;
      list-style: none;
      width: 100%;
      color: black;
      transition: 0.3s;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid $dark-gray;
      padding: 14px 0;
      font-size: 12px;
      &:after{
        content:"";
        left: -100%;
      }
      .row{
        position: relative;
        z-index: 100;
      }
      &:hover{
        transition: 0.3s;
        background: $dark-gray;
      }
      a{
        color: black;
        font-size: 12px;
        line-height: 24px;
        i{
          margin-left: 3px;
        }
        &:hover{
          transition: 0.3s;
          text-decoration: underline;
        }
      }
    }
}

.dates-admin{
  ul{
    li{
      line-height: 40px;
      padding: 0 20px;
      a,i{
        margin-left: 10px;
      }
      .action-admin{
        float: right;
        .fa-check-circle{
          color: green;
        }
      }
    }
  }
}


@media only screen and (min-width: 64.063em) {

  .media-object{
    .media-object-section{
      .media-object-section--header{
        font-size: 16px;
      }
    }
  }

  #dates{
    li{
      font-size: 14px;
      line-height: 50px;
      a{
        font-size: 14px;
        line-height: 44px;
      }
    }
  }

}
