.content-footer{
	text-align: center;
	line-height: 90px;
	background-color: #1D263B;
	ul{
		margin: 0;
		line-height: 70px;
	}
	.footer__item--social{
		padding: 10px 40px;
		list-style: none;
		display: inline-block;
		i{
			color: $white;
			font-size: 26px;
		}
	}
}
